/*
selector {
  property:value;
}
*/
a {
  color: black;
  font-family: sans-serif;
  text-decoration: underline;
}

a:hover {
  background: orange;
}

body {
  background: url('http://img.archiexpo.com/images_ae/photo-g/4363-9171042.jpg');
  background-size:cover;
  color: #fff;
}
 
img {
  max-width: 256px;
  float: center;
  margin: 16px 16px 16px 16px;
}
  
#crop-circle {
  border-radius: 100%;
  float: center;
}

header, footer {
  height: 128px;
  font-family: sans-serif;
  width: 100%;
  padding: 32px;
  background: black;
  color: orange;
  font-size: 30px;
  text-align: center;
}

nav {
  width:20%;
  height: 1024px;
  padding-left: 5%;
  background: grey;
  color: black;
  float: left;
}

#inset {
	width: auto;
	height: auto;
	padding: 1cm 1cm 1cm 1cm;
}

section {
  width: 100%;
  margin: 16px 16px 16px 16px;
  font-family: sans-serif;
  font-size: larger;
  height: 1024px;
  background: lightgrey;
}

footer {
  clear: both;
}

text {
	color: black;
}

#standard-paragraph-1 {
  color: black;
  margin-left: 16px;
}
