section {
  height: 700px;
  color: rgba(255, 141, 0, 1);
  padding-top: 75px;
  text-align: left;
}

#top {
  background: lightgray;
  background-size: contain;
  padding-top: 70px;
}

#middle {
  background: grey;
  background-size: cover;
  padding-top: 32px;

}

#bottom {
  background: lightgray;
  padding-top: 32px;

}

p, h1, h2, h3 {
	margin: 32px 32px 16px 16px
}

img, thumbnail {
	border: 1px solid black
}

col-md-4 img {
	border: 61px solid black
}